<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <template>
    <aircraftId>cj4</aircraftId>
    <airFileId>cj4</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles yaw damper on/off</Description>
          <SimulatorEventName>YAW_DAMPER_TOGGLE</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>16</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>YAW_DAMPER_TOGGLE</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles flight director on/off</Description>
          <SimulatorEventName>TOGGLE_FLIGHT_DIRECTOR</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>8</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>TOGGLE_FLIGHT_DIRECTOR</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles altitude hold mode</Description>
          <SimulatorEventName>AP_ALT_HOLD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>10</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_HOLD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles vertical speed hold mode on/off</Description>
          <SimulatorEventName>AP_PANEL_VS_HOLD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>11</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_PANEL_VS_HOLD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles approach hold (localizer and glide-slope)</Description>
          <SimulatorEventName>AP_APR_HOLD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>13</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_APR_HOLD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles the nav hold mode</Description>
          <SimulatorEventName>AP_NAV1_HOLD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>20</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_NAV1_HOLD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Scripts</Group>
          <Description>RPN</Description>
          <SimulatorEventName>Scripts-HDG_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>5</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_RIGHT</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>Scripts-HDG_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Scripts</Group>
          <Description>RPN</Description>
          <SimulatorEventName>Scripts-HDG_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>5</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_LEFT</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>Scripts-HDG_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Scripts</Group>
          <Description>RPN</Description>
          <SimulatorEventName>Scripts-HDG_SYNC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>4</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>Scripts-HDG_SYNC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Scripts</Group>
          <Description>RPN</Description>
          <SimulatorEventName>Scripts-HDG_mode_toggle</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>10</midiChannel>
        <midiEvent>12</midiEvent>
        <endless>false</endless>
        <midiEncoder>CLICK</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>Scripts-HDG_mode_toggle</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Increments reference altitude</Description>
          <SimulatorEventName>AP_ALT_VAR_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>100</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>3</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_RIGHT</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <modifier>0</modifier>
          <key>0</key>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <id>0</id>
          <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
          <joystickName />
          <joystickButton>-1</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>1</midiDeviceId>
          <midiChannel>10</midiChannel>
          <midiEvent>2</midiEvent>
          <endless>false</endless>
          <midiEncoder>CLICK</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>true</comboIsToggle>
          <virtualModifiers />
          <virtualKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_VAR_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Increments reference altitude</Description>
          <SimulatorEventName>AP_ALT_VAR_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1000</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>3</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_RIGHT</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <modifier>0</modifier>
          <key>0</key>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <id>0</id>
          <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
          <joystickName />
          <joystickButton>-1</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>1</midiDeviceId>
          <midiChannel>10</midiChannel>
          <midiEvent>2</midiEvent>
          <endless>false</endless>
          <midiEncoder>CLICK</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>true</comboSuppressesEvent>
          <comboIsToggle>true</comboIsToggle>
          <virtualModifiers />
          <virtualKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_VAR_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Decrements reference altitude</Description>
          <SimulatorEventName>AP_ALT_VAR_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>100</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>3</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_LEFT</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <modifier>0</modifier>
          <key>0</key>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <id>0</id>
          <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
          <joystickName />
          <joystickButton>-1</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>1</midiDeviceId>
          <midiChannel>10</midiChannel>
          <midiEvent>2</midiEvent>
          <endless>false</endless>
          <midiEncoder>CLICK</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>true</comboIsToggle>
          <virtualModifiers />
          <virtualKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_VAR_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Decrements reference altitude</Description>
          <SimulatorEventName>AP_ALT_VAR_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1000</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <id>0</id>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickName />
        <joystickButton>-1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>1</midiDeviceId>
        <midiChannel>3</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>TURN_LEFT</midiEncoder>
        <isSimKey>false</isSimKey>
        <combinedKey>
          <modifier>0</modifier>
          <key>0</key>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <id>0</id>
          <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
          <joystickName />
          <joystickButton>-1</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>1</midiDeviceId>
          <midiChannel>10</midiChannel>
          <midiEvent>2</midiEvent>
          <endless>false</endless>
          <midiEncoder>CLICK</midiEncoder>
          <isSimKey>false</isSimKey>
          <comboSuppressesEvent>true</comboSuppressesEvent>
          <comboIsToggle>true</comboIsToggle>
          <virtualModifiers />
          <virtualKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_VAR_DEC</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts>
      <AutoScript>
        <scriptId>Scripts-ALT_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-APP_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-FD_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-HDG_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-NAV_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-VS_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
      <AutoScript>
        <scriptId>Scripts-YD_info</scriptId>
        <delayMilliseconds>300</delayMilliseconds>
        <type>LOOP</type>
      </AutoScript>
    </autoScripts>
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>Scripts</group>
      <label>HDG_inc</label>
      <script>(A:AUTOPILOT HEADING LOCK DIR, Degrees) (&gt;K:HEADING_BUG_SET) 1 (&gt;K:HEADING_BUG_INC)</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>HDG_dec</label>
      <script>(A:AUTOPILOT HEADING LOCK DIR, Degrees) (&gt;K:HEADING_BUG_SET) 1 (&gt;K:HEADING_BUG_DEC)</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>HDG_SYNC</label>
      <script>(A:PLANE HEADING DEGREES GYRO, Degrees) (&gt;K:HEADING_BUG_SET)</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>HDG_mode_toggle</label>
      <script>(A:AUTOPILOT HEADING LOCK DIR, Degrees) (&gt;K:HEADING_BUG_SET) (A:AUTOPILOT HEADING LOCK, Bool) 0 == if{ 1 (&gt;K:AP_HDG_HOLD_ON) } els{ 1 (&gt;K:AP_HDG_HOLD_OFF) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>ALT_info</label>
      <script>(A:AUTOPILOT ALTITUDE LOCK, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:2) } els{ 1 (&gt;MIDI:3:NoteOn:1:2) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>APP_info</label>
      <script>(A:AUTOPILOT APPROACH HOLD, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:5) } els{ 1 (&gt;MIDI:3:NoteOn:1:5) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>FD_info</label>
      <script>(A:AUTOPILOT FLIGHT DIRECTOR ACTIVE, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:0) } els{ 1 (&gt;MIDI:3:NoteOn:1:0) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>HDG_info</label>
      <script>(A:AUTOPILOT HEADING LOCK, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:4) } els{ 1 (&gt;MIDI:3:NoteOn:1:4) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>NAV_info</label>
      <script>(A:AUTOPILOT NAV1 LOCK, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:12) } els{ 1 (&gt;MIDI:3:NoteOn:1:12) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>VS_info</label>
      <script>(A:AUTOPILOT VERTICAL HOLD, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:3) } els{ 1 (&gt;MIDI:3:NoteOn:1:3) }</script>
    </Script>
    <Script>
      <group>Scripts</group>
      <label>YD_info</label>
      <script>(A:AUTOPILOT YAW DAMPER, Bool) 0 == if{ 0 (&gt;MIDI:3:NoteOn:1:8) } els{ 1 (&gt;MIDI:3:NoteOn:1:8) }</script>
    </Script>
  </scripts>
</TemplateExport>